/* Designing overall page*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

/*Setting Up CSS Box Model*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Setting Up Body*/

/*Designing Container Classes*/
.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}

/* Designing Header */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.5s ease;
}

.header.fixed {
  background-color: #ffffff;
  position: fixed;
}
.navbar-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  background-color: navy;
}

.logo {
  padding: 0.6%;
  color: white;
}
.navbar {
  padding: 0.6%;
  display: flex;
  text-align: center;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  font-size: large;
}

.navbar a:hover {
  background-color: #0991ec;
  color: rgb(250, 250, 250);
}
/* Designing Home section */
.home-section {
  min-height: 100vh;
  background-image: url("../img/aqua.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 0 15px;
}

/* Designing About section */
.about-section {
  padding: 80px 0 0;
}

/* Designing Prey & Predators Section */

.predators-section {
  padding: 80px 0 0;
}

/* Designing Food Section */

.gallery-section {
  padding: 80px 0 0;
}

/* Designing World Count Section */

.count-section {
  padding: 80px 0 0;
}

.honesty {
  margin-top: 80px;
  text-align: center;
}

.honesty ul {
  list-style: none;
}

.honesty ol {
  list-style: none;
}

.honesty a {
  color: teal;
}
